body {
  background-color: #A5DCE4 !important;
  font-family: 'Titillium Web', Sans-Serif !important;
  font-size: 1rem;
}

h1, p {
  font-family: 'Dosis', Sans-Serif;
}

h1 {
  font-size: 3rem !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

* {
  box-sizing: border-box;
}

.introduction-box {
  display: flex !important;
  flex-direction: column;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-to-do-box {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  background-color: #FFFFFF ;
  border-radius: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-create {
  background-color: transparent;
  color: #404E88;;
  border: 1px solid #404E88;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-create:hover {
  background-color: #404E88;
  color: #FFFFFF;
}

button {
  margin-left: 10px;
  padding: 10px;
  width: 15%;
}

.fa {
 font-size: 20px;
 text-align: center;
}

.delete {
  display: none;
}

li {
  list-style: none;
  background-color: #404E88 ;
  border-radius: 5px;
  margin-top: 20px;
  color: #FFFFFF ;
  padding: 10px;
  min-width: 400px;
  text-align: center;
}

li button {
  float: right;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #FFFFFF ;
  padding: 0;
  width: 5%;
}

li button:hover {
  border: 1px solid #ced4da;
  color: #ced4da;
}

.done {
  background-color: #198753;
}

ul{
  list-style-position:inside;
  margin:0;
  padding:0;
}

.form-control {
  border-color: #404E88 !important;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 40% !important;
}


@media only screen and (max-width: 768px) {
  .main-box {
    width: 100%;
    margin: 30px 20px;
  }

  #create-button {
   display: none;
  }

  li {
    min-width: 290px;
  }

  .form-control {
    margin-right: 0px;
    width: 70% !important;
    margin-bottom: 20px;
  }
}
