* {
  box-sizing: border-box;
}

.introduction-box {
  display: flex !important;
  flex-direction: column;
}

.new-to-do-box {
  display: flex;
  width: 100%;
}

button {
  margin-left: 10px;
  padding: 15px;
  width: 15%;
}

.fa {
 font-size: 20px;
 text-align: center;
}

.delete {
  display: none;
}

li {
  list-style: none;
  background-color: #0275d8;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  padding: 10px;
  min-width: 535px;
  text-align: center;
}

li button {
  float: right;
  background-color: transparent;
  border: 1px solid #f8f9fa;
  border-radius: 50%;
  color: #f8f9fa;
  padding: 0;
  width: 5%;
}


li button:hover {
  border: 1px solid #ced4da;
  color: #ced4da;
}

.done {
  background-color: #198753;
}

ul{
  list-style-position:inside;
  margin:0;
  padding:0;
}

.form-control {
  margin-right: 20px;
  width: 30% !important;
}
